    <!--<label>Как вас зовут?</label>-->
    <!--<input type="text" ng-model="myName" placeholder="введите имя">-->
    <!--<h1>Привет {{myName}}!</h1>-->

<!doctype html>
<html ng-app>
<head>
    <title>AngularJS</title>
    <script type="application/javascript" src="vendor/a.js"></script>
    <meta charset="utf-8">
    <script type="application/javascript">
      window.onload = function () {
        document.getElementById('myDateInput').addEventListener('change', function () {
          var birthDay = document.getElementById('myDateInput').value.slice(5);
          if (birthDay === currentDate) {
            document.getElementById('congrat').style.display = 'inline'
          } else {
            document.body.innerHTML = '<img src="https://vignette.wikia.nocookie.net/absurdopedia/images/b/bf/%D0%93%D1%80%D1%83%D1%81%D1%82%D0%BD%D1%8B%D0%B9_%D1%81%D0%BC%D0%B0%D0%B9%D0%BB%D0%B8%D0%BA.jpg/revision/latest?cb=20140420114726" alt=""> '
          }
        });

        var fullDate = new Date;
        var month = fullDate.getMonth();
        month += 1;
        if (month < 10) {
          month = '0' + month
        }
        var day = fullDate.getDate();
        if (day < 10) {
          day = '0' + day
        }
        var currentDate = month + '-' + day;

      };
    </script>
</head>
<body>
<div>
    <input type="text" ng-model="myName" placeholder="Введите ваше имя"><br>
    <label>Введите вашу дату рождения</label>
    <input type="date" id="myDateInput"><br>
    <h1 id="congrat" style="display: none">C Днем Рождения, {{myName}}!!!</h1>

</div>
</body>
</html>

